*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #BDE3FF;
}

.Nav{
    display: flex;
    justify-content: space-between;
}

.centrado{
    display: flex;
    justify-content: center;
}

ul{
     list-style: none;
}

li{
    margin-left: 5px;
    margin-right: 5px;
}