*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #BDE3FF;
}

.nabb{
    width: 100%;
    display: flex;
    justify-content: end;
    
}

.nom{
    width: 100%;
        display: flex;
        justify-content: start;
}