:root{
    --azul-muy-oscruro:#121528 ;
    --azul-oscruro:#1B3864 ;
    --azul-claro:#6F87C3 ;
    --azul-muy-claro:#D4DBF7 ;
    --durazno:#D99886 ;
    --dorado-amarilloso: ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--azul-claro);
}

.wrapper{
    max-width: 1200px;
}

.wrapper svg{
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background:var(--azul-muy-claro);
    border-radius: 50%;
}

.wrapper svg:first-child{
    left: -23px;
    
}

.wrapper svg:first-child{
    right: -23px;
}

.wrapper .carrousell{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.carrousell img{
    height: 300px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100%/3);
}
.carrousell img:first-child{
    margin-left: 0px;
}