:root{
    --azul-muy-oscruro:#121528 ;
    --azul-oscruro:#1B3864 ;
    --azul-claro:#6F87C3 ;
    --azul-muy-claro:#D4DBF7 ;
    --durazno:#D99886 ;
    --dorado-amarilloso: ;
}

.colores-navar{
    background-color: var(--azul-oscruro) !important;
    height: 70px !important;
}

.carrouse-section{
    width: 100%;
}

.carrouse-section img {
    width: 100%;

    object-fit: cover;
}

.separacion-nav{
    margin-top: 70px !important;
}

.foto-back-banner{
    background-image: url('../img/bacgroundBlur.jpg');
    backdrop-filter: blur(10px);
    height: 60%;
}

.ubicacion-carrusel{
    width: 90%;
    height: 60%;
}

.contenedor-scroll{
    max-height: 250px;
    border: 1px solid blue;
    display: flex;
    overflow-x: auto;
}

.contenedor-scroll::-webkit-scrollbar{
    
}

.contenedor-scroll .card-scroll{
    min-width: 250px;
    height: 250px;
    line-height: 110px;
    text-align: center;
    background-color: #121528;
    margin: 5px;
}